// create an api key at https://platform.openai.com/
OPENAI_API_KEY=

// Guide for setting up google OAuth2: https://wasp-lang.dev/docs/integrations/google
GOOGLE_CLIENT_ID=728824725279-36qsuu8vr8o8q9ek7e5u7jute4v6ktdt.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

// you can easily set up a hosted database at https://railway.app
DATABASE_URL=postgresql://postgres:X7ngTf3lOjSP2mofg1Ej@containers-us-west-182.railway.app:7178/railway

// sendGrid key for sending out emails https://sendgrid.com/
SENDGRID_API_KEY=
SEND_EMAILS_IN_DEVELOPMENT=true

// Stripe Payment Keys https://stripe.com
STRIPE_KEY=pk_live_51MFepCHNwpuw3izautuJn03QG26k3kc77bxy2062gK94iqo98fgYRpcSMj8bZG20zCQeybQoczTlc5gwu76eBm6l001zesXyEC
PRODUCT_PRICE_ID=prod_N5kmuivQBIIwv8
PRODUCT_CREDITS_PRICE_ID=prod_N5kjclTYhV8ttK
